<app-header></app-header>

<div class="container">
  <!-- Colonna delle Playlist -->
  <aside class="playlist-sidebar">
    <h2>Playlist</h2>
    <ul>
      <li *ngFor="let playlist of playlists" (click)="onSelectPlaylist(playlist)">
        <img [src]="" alt="{{ playlist.name }}" />
        <h3>{{ playlist.name }}</h3>
      </li>
    </ul>
  </aside>

  <!-- Colonna delle Canzoni -->
  <main class="song-list">
    <ng-container *ngIf="selectedPlaylist; else noPlaylistSelected">
      <h2>{{ selectedPlaylist.name }}</h2>
      <ul>
        <li *ngFor="let song of songs">
          <img [src]="song.image" alt="{{ song.title }}" />
          <div class="song-info">
            <h3>{{ song.title }}</h3>
            <p class="artist-name">{{ song.artist }}</p>
          </div>
        </li>
      </ul>
    </ng-container>
    <ng-template #noPlaylistSelected>
      <h2>Seleziona una playlist per vedere le canzoni</h2>
    </ng-template>
  </main>  
</div>
